body{
    height: 200px;
    background-image: linear-gradient( 180deg, #00f5cc, #13726a );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.cartao{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    text-align:center;
}

button{
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px, 20px;    
    
}   

