body{
    border:1px solid red;
    padding:0;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #470fe2;
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;

}

.cabecalho{
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    text-align:center;
    max-width:400px; 
    display:flex;
    flex-direction: column;
    




}